{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.publish_date %}
        <div class="date">
            {{ post.publish_date }}
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
        <span class="glyphicon glyphicon-pencil"></span> Edytuj
        </a>
        <a class="btn btn-success" href="{% url 'post_new' %}">Dodaj nowy post</a>
        {% endif %}
        <h2>{{ post.title }}</h2>

        {% if post.image %}
        <img src="{{ post.image.url }}" alt="Obrazek">
        {% else %}
        <p>Brak obrazka</p>
        {% endif %}

        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}