<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Blog dla programistów</title>
</head>
<body>
    <div>
        <h1>Witam na stronie bloga!</h1>
        <h2>Blog o porgramowaniu</h2>
        <h3>Autor: Piotr</h3>
        <h4>Jebać cię</h4>
    </div>
    <div>
        <p>To jest akapit</p>
        <em>Wyróżniony tekst (Italic)</em><br>
        <strong>Pogrubiony tekst</strong><br>
        <a href="https://www.youtube.com/watch?v=D7liwdjvhWc&ab_channel=KendrickLamar">LINK</a>
    </div>
    <div>
        <ul>
            <li>Elementy listy</li>
            <li>Elementy listy</li>
            <li>Elementy listy</li>
        </ul>
    </div>
</body>
</html>